<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.aking.view.LoginFilter</filter-class>
		<init-param>
			<param-name>register</param-name>
			<param-value>/crm/register.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ignoreUrls</param-name>
			<param-value>/crm/register.jsp,/crm/login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>login</param-name>
			<param-value>/crm/login.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- -->
	<servlet>
		<servlet-name>SystemInit</servlet-name>
		<servlet-class>com.aking.control.service.SystemInit</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ExtServlet</servlet-name>
		<servlet-class>com.aking.control.action.ExtServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtServlet</servlet-name>
		<url-pattern>/ExtServlet</url-pattern>
	</servlet-mapping>
</web-app>
